---
import Layout from '../layouts/default.astro';
import { wpquery } from '../data/wordpress';

const data = await wpquery({
  query: `
    query LoadAllPostsExcerpts {
      posts {
        nodes {
          title
          slug
          excerpt
        }
      }
    }
  `,
});
---

<Layout title="Food Truth">
  <h1>Posts</h1>

  {
    data.posts.nodes.map((post: any) => {
      return (
        <article class="post-preview">
          <h2>
            <a href={`/blog/${post.slug}`}>{post.title}</a>
          </h2>
          <Fragment set:html={post.excerpt} />
          <a href={`/blog/${post.slug}`}>read post &rarr;</a>
        </article>
      );
    })
  }
</Layout>
